@import url("assets/fonts/fonts.css");

.wrapper {
	width: 1170px;
	margin: 0 auto;
}
.button {
	width: 210px;
	height: 60px;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	background: #fff;
	border-radius: 50px;
	border: 1px solid #9c69e2;
	transition: 0.5s;
	margin: 20px 0;
}
.header {
	display: flex;
	width: 1170px;
	justify-content: space-between;
	position: fixed;
	background-color: #fff;
	z-index: 1;
	margin-top: -8px;
	&__logo--nav {
		display: flex;
		width: 43%;
		align-items: center;
		justify-content: space-between;
		.header__logo {
			display: contents;
			h3 {
				display: flex;
				font-family: "Montserrat", sans-serif;
				font-style: normal;
				align-items: center;
				justify-content: center;
				font-weight: 600;
				font-size: 20px;
				line-height: 32px;
				color: #212353;
				margin: 0;
			}

			&-container {
				display: flex;
				align-items: end;
				gap: 10px;
				&-circle {
					display: flex;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					background: #9c69e2;
				}

				&-ellipse {
					display: flex;
					width: 20px;
					height: 35px;
					border-radius: 20px;
					background: #f063b8;
				}
			}
		}

		.header__nav {
			ul {
				padding: 0;
				display: flex;
				justify-content: space-between;
				gap: 40px;
			}

			li {
				list-style: none;
			}

			a {
				text-decoration: none;
				list-style: none;
				font-family: "Montserrat", sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 26px;
				color: #4b5d68;
				transition: 0.5s;
				&:hover {
					color: #8a40ee;
					cursor: pointer;
				}
			}
		}
	}

	&__button {
		text-align: left;
		padding-left: 23px;
		.arrow {
			display: flex;
			position: absolute;
			background: url("/assets/icons/arrow.svg");
			background-repeat: no-repeat;
			width: 26px;
			height: 16px;
			right: 23px;
			top: 42%;
			transition: 0.5s;
		}
		&:hover {
			background: #9c69e2;
			color: #fff;
			cursor: pointer;
			.arrow {
				background-image: url("/assets/icons/arrow-white.svg");
				background-repeat: no-repeat;
				width: 26px;
				height: 16px;
				right: 23px;
				top: 42%;
			}
		}
	}
}
//First Screen
.first-screen {
	position: relative;
	padding-top: 180px;
	&__image {
		width: 66%;
		height: 61%;
		right: 0;
		bottom: 0;
		position: absolute;
		background-image: url("/assets/image/first-screen-img.png");
		z-index: -1;
	}
	&__section {
		width: 50%;
		h1 {
			font-family: "WorkSans", sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 80px;
			line-height: 110%;
			display: flex;
			align-items: center;
			color: #212353;
			margin: 0;
		}
		p {
			width: 64%;
			font-family: "Montserrat", sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 29px;
			color: #4b5d68;
			margin: 0;
			margin-top: 50px;
		}
	}
	&__button {
		background: #9c69e2;
		color: #fff;
		margin: 50px 0 35px 0;
		&:hover {
			background: #8a40ee;
			cursor: pointer;
		}
	}
}

//Second screen
.second-screen {
	display: flex;
	position: relative;
	padding: 70px;
	background: #fde8f5;
	border-radius: 50px;
	margin-top: 100px;
	justify-content: space-between;
	&__container {
		align-items: last baseline;
		width: 48%;
		h2 {
			font-family: "WorkSans", sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 40px;
			line-height: 52px;
			display: flex;
			align-items: center;
			color: #212353;
		}

		p {
			font-family: "Montserrat", sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 29px;
			color: #4b5d68;
			margin: 0;
		}
	}
}
//Thirdscreen
.third-screen {
	&__title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		h2 {
			font-family: "WorkSans", sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 40px;
			line-height: 52px;
			display: flex;
			align-items: center;
			text-align: center;
			color: #212353;
			margin: 120px 0 50px 0;
		}

		p {
			font-family: "Montserrat", sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 29px;
			text-align: center;
			color: #4b5d68;
			margin: 0;
		}
	}

	&__container {
		display: flex;
		justify-content: right;
		margin-top: 80px;
		&-first {
			width: 50%;
		}
		&-second {
			width: 50%;
		}
		&-item {
			display: flex;
			position: relative;
			margin-bottom: 50px;
			justify-content: right;
		}
		h3 {
			font-family: "WorkSans", sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 31px;
			display: flex;
			align-items: center;
			color: #212353;
			margin: 0;
			margin-left: 100px;
		}
		p {
			width: 58%;
			font-family: "Montserrat", sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 26px;
			color: #4b5d68;
			margin: 0;
			margin-left: 100px;
		}
		a {
			font-family: "Montserrat", sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 16px;
			line-height: 26px;
			letter-spacing: 0.005em;
			color: #212353;
			text-decoration: none;
			margin-left: 100px;
		}
	}
	.container-box {
		display: flex;
		width: 400px;
		height: 400px;
		z-index: 0;
		flex-direction: column;
		border-radius: 50px;
		justify-content: space-around;
	}
	&__first-box {
		background: #f0faf9;
		background-image: url("/assets/icons/search-data.svg");
		background-repeat: no-repeat;
		background-position: 80% 5%;
	}
	&__second-box {
		background: #fef0f8;
		background-image: url("/assets/icons/print-out.svg");
		background-repeat: no-repeat;
		background-position: 93% 7%;
	}

	&__third-box {
		background: #f6f0fd;
		background-image: url("/assets/icons/hours-access.svg");
		background-repeat: no-repeat;
		background-position: 85% 95%;
	}

	&__fourth-box {
		background: #eaf6fc;
		background-image: url("/assets/icons/security-code.svg");
		background-repeat: no-repeat;
		background-position: 55% 30%;
	}

	&__first-image {
		position: absolute;
		top: 100px;
		left: 15px;
		width: 230px;
		height: 180px;
		background-image: url("/assets/image/search-data.png");
		z-index: 1;
	}

	&__second-image {
		position: absolute;
		top: 100px;
		left: 15px;
		width: 245px;
		height: 180px;
		background-image: url("/assets/image/print-out.png");
		z-index: 1;
	}

	&__third-image {
		position: absolute;
		top: 100px;
		left: 15px;
		width: 240px;
		height: 180px;
		background-image: url("/assets/image/hours-access.png");
		z-index: 1;
	}
	&__fourth-image {
		position: absolute;
		top: 100px;
		left: 15px;
		width: 230px;
		height: 180px;
		background-image: url("/assets/image/security-code.png");
		z-index: 1;
	}
}

//fourd screen
.fourth-screen {
	position: relative;
	background: #ccddff;
	background-image: url("/assets/icons/bg-image.svg");
	background-repeat: no-repeat;
	background-position: 50% 90%;
	margin-top: 120px;
	border-radius: 50px;
	h2 {
		justify-content: center;
		font-family: "WorkSans", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 40px;
		line-height: 52px;
		display: flex;
		color: #4b5d68;
		align-items: center;
		padding-top: 80px;
		margin: 0;
	}
	&__container {
		display: flex;
		justify-content: space-around;
		padding: 80px 0;
		font-family: "Montserrat", sans-serif;
		h2 {
			justify-content: left;
			font-weight: 500;
			font-size: 16px;
			line-height: 26px;
			color: #212353;
			margin: 0;
			padding: 0;
		}

		p {
			font-weight: 400;
			font-size: 16px;
			line-height: 26px;
			color: #4b5d68;
			margin: 0;
		}

		a {
			font-weight: 500;
			font-size: 14px;
			line-height: 22px;
			display: flex;
			align-items: center;
			letter-spacing: 0.01em;
			color: #9c69e2;
			margin-top: -20px;
		}

		&-first {
			display: flex;
			justify-content: space-between;
			width: 465px;
			height: 300px;
			background: #fff;
			border-radius: 50px;
			margin: 0;
			gap: 15px;
			border: 1px solid #9c69e2;

			&-image {
				background-image: url("/assets/image/John-Fang.png");
				width: 90px;
				height: 90px;
				border-radius: 45px;
				margin: 50px 0 0 30px;
			}
			&-item {
				display: flex;
				flex-direction: column;
				width: 70%;
				justify-content: space-between;
				margin: 50px 0;
			}
		}
		&-second {
			display: flex;
			justify-content: space-between;
			width: 465px;
			height: 300px;
			background: #fff;
			border-radius: 50px;
			gap: 15px;
			border: 1px solid #9c69e2;
			&-image {
				background-image: url("/assets/image/Hanna-Wilson.png");
				width: 90px;
				height: 90px;
				border-radius: 45px;
				margin: 50px 0 0 30px;
			}
			&-item {
				display: flex;
				flex-direction: column;
				width: 70%;
				justify-content: space-between;
				margin: 50px 0;
			}
		}
	}
}

//footer
.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 100px;
	margin-top: 120px;
	.heading {
		display: flex;
		align-items: center;
		justify-content: space-between;

		h2 {
			font-family: "WorkSans", sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 40px;
			line-height: 52px;
			display: flex;
			align-items: center;
			color: #212353;
			margin: 0;
		}
		p {
			font-family: "Montserrat", sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 29px;
			color: #4b5d68;
			margin: 0;
			margin-top: 20px;
		}
		.footer-button-colors {
			background: #f063b8;
			color: #fff;
			border: 1px solid #f063b8;
			margin-right: 20px;
			&:hover {
				background: #eb4bab;
				border: 1px solid #eb4bab;
				cursor: pointer;
			}
		}

		.footer-button-simple {
			text-align: left;
			padding-left: 23px;
			.arrow {
				display: inline-flex;
				background: url("/assets/icons/arrow.svg");
				margin-left: 20px;
				width: 23px;
				height: 16px;
				transition: 0.5s;
			}
			&:hover {
				background: #9c69e2;
				color: #fff;
				cursor: pointer;
				.arrow {
					background-image: url("/assets/icons/arrow-white.svg");
					background-repeat: no-repeat;
				}
			}
		}
	}

	.navigacion {
		display: flex;
		justify-content: space-between;
	}

	.contacts {
		width: 26%;
		&__logo {
			display: inline-flex;
			h3 {
				display: flex;
				font-family: "Montserrat", sans-serif;
				font-style: normal;
				align-items: center;
				justify-content: center;
				font-weight: 600;
				font-size: 20px;
				line-height: 32px;
				color: #212353;
				margin: 0;
			}

			&-container {
				display: flex;
				align-items: end;
				gap: 10px;
				margin-right: 20px;

				&-circle {
					display: flex;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					background: #9c69e2;
					transition: 0.5s;
				}

				&-ellipse {
					display: flex;
					width: 20px;
					height: 35px;
					border-radius: 20px;
					background: #f063b8;
					transition: 0.5s;
				}
			}
		}

		.info {
			margin-top: 50px;
			h3 {
				font-family: "Montserrat", sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 29px;
				letter-spacing: 0.01em;
				color: #212353;
			}
			a {
				font-family: "Montserrat", sans-serif;
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 29px;
				letter-spacing: 0.01em;
				color: #212353;
			}
		}
	}

	.footer-nav {
		display: flex;
		align-items: start;
		justify-content: space-between;
		width: 60%;

		h3 {
			display: flex;
			margin-top: 7px;
			font-family: "Montserrat", sans-serif;
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 26px;
			color: #212353;
		}
		ul {
			padding: 0;
			margin-top: 30px;
		}

		li {
			list-style: none;
			font-family: "Montserrat", sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 26px;
			color: #4b5d68;
			margin-top: 10px;
			transition: 0.5s;
			&:hover {
				color: #8a40ee;
				cursor: pointer;
			}
		}

		.social {
			margin-top: 30px;
			&-icon {
				width: 50px;
				height: 50px;
				fill: #fff;
				border-radius: 50%;
				background: #212353;
				opacity: 0.1;
				border: 1px solid transparent;
				transition: 0.5s;
			}

			.facebook:hover {
				fill: #3b5998;
				background: #fff;
				border: 1px solid #3b5998;
				opacity: 1;
			}

			.twitter:hover {
				fill: #00acee;
				background: #fff;
				border: 1px solid #00acee;
				opacity: 1;
			}

			.instagram:hover {
				fill: #c13584;
				background: #fff;
				border: 1px solid #c13584;
				opacity: 1;
			}

			ul {
				display: inline-flex;
				gap: 15px;
				margin: 0;
				padding: 0;
			}
		}
	}
	.copyright {
		width: 25%;
		font-family: "Montserrat", sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 12px;
		line-height: 22px;
		letter-spacing: 0.01em;
		color: #212353;
		margin-bottom: 120px;
	}
}
