@import url("/assets/fonts/fonts.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&family=Source+Sans+Pro&display=swap");

body {
	margin: 0 auto;
}
// HEADER
.wrapper {
	display: flex;
	position: relative;
	margin: 0 auto;
	padding-top: 53px;
	margin-bottom: 100px;
	height: 750px;
	align-items: center;
	flex-direction: column;
	padding: 0;
	&-title {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		font-family: "Montserrat", sans-serif;
		flex-direction: column;
		top: 25%;
		z-index: 2;
		h1 {
			font-size: 80px;
			line-height: 98px;
			font-weight: 700;
			color: #fff;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			margin: 0;
			z-index: 2;
		}
		h4 {
			font-weight: 400;
			line-height: 22px;
			letter-spacing: 0.3em;
			color: #fff;
			text-transform: uppercase;
			z-index: 2;
		}
	}
	.fixed-header {
		width: 100%;
		background: #3c7fd4;
	}
	.header {
		display: flex;
		width: 1170px;
		max-width: 96%;
		justify-content: space-between;
		align-items: center;
		margin-top: 50px;
		z-index: 2;
		font-family: "Source Sans Pro", sans-serif;

		&__menu {
			ul {
				display: flex;
				width: 515px;
				font-size: 14px;
				line-height: 18px;
				text-transform: uppercase;
				justify-content: space-between;
				cursor: pointer;
				padding: 0;
			}

			.menu-marker {
				width: 8px;
				height: 8px;
				border: 1.5px #fff solid;
				border-radius: 50%;
				margin-right: 14px;
			}

			@keyframes movement-marker {
				0% {
					translate: 0em 0em;
				}
				50% {
					translate: 0em -1em;
				}
				50% {
					translate: 0em -1em;
				}
				100% {
					translate: 0em 0em;
				}
				100% {
					transform: scale(1, 0.5);
				}
				75% {
					transform: scale(1, 1);
				}
			}

			ul li:hover .menu-marker {
				background: #fff;
				animation: movement-marker 1.2s infinite;
			}

			li {
				display: flex;
				align-items: center;
				list-style-type: none;
			}

			a {
				text-decoration: none;
				color: #fff;
				animation: 2s;
			}
		}
	}

	.swiper {
		position: absolute;
		width: 100%;
		height: 100%;
		background: linear-gradient(243.43deg, #7e5aff 16.9%, #55b7ff 83.27%);
		z-index: 1;
	}

	.swiper-slide {
		display: flex;
		position: relative;
		text-align: center;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-family: "Montserrat", sans-serif;
	}

	.swiper-slide img {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 0.06;
	}

	.swiper-pagination-bullet {
		width: 9px;
		height: 9px;
		background-color: transparent;
		border: 1px solid #ffffff;
		opacity: 1;
		margin: 40px 50px 40px 0 !important;
		z-index: 1;
	}

	.swiper-pagination-bullet-active {
		background-color: #ffffff;
	}

	.arrowDown {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 49px;
		z-index: 2;
		.arrow {
			display: block;
			width: 40px;
			height: 40px;
			border: 1px solid #fff;
			opacity: 0.7;
			border-radius: 50%;
			&::before {
				display: block;
				position: absolute;
				content: "";
				width: 6px;
				height: 1px;
				top: 54%;
				left: 50%;
				background-color: #ffffff;
				transform-origin: left;
				transform: translateX(0) rotate(-45deg);
				z-index: 2;
			}

			&::after {
				display: block;
				position: absolute;
				content: "";
				width: 6px;
				height: 1px;
				top: 54%;
				left: 50%;
				background-color: #ffffff;
				transform-origin: left;
				transform: translateX(0) rotate(-135deg);
				z-index: 2;
			}
		}
	}
}

// MAIN PROJECTS
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Montserrat", sans-serif;
	margin: 0 auto;
	color: #2c4058;
	&__title {
		font-weight: 700;
		font-size: 44px;
		line-height: 54px;
		text-transform: uppercase;
		margin-bottom: 90px;
	}
	&__projects-first {
		position: relative;
		width: 1600px;
		display: flex;
		position: relative;
		margin-bottom: 150px;
		.button-objects {
			font-size: 14px;
		}

		.bluesquare {
			display: block;
			width: 585px;
			height: 470px;
			background-color: #55b7ff;
		}

		&-img {
			display: flex;
			position: relative;
			width: 53%;
		}

		img {
			position: absolute;
			width: 630px;
			height: 470px;
			right: 0;
			bottom: -57px;
		}

		&-title {
			display: flex;
			width: 476px;
			height: 350px;
			justify-content: space-between;
			flex-direction: column;
			color: #2c4058;
			align-self: flex-end;
			margin-left: 70px;
			margin-bottom: -30px;
			a {
				font-family: "Open Sans";
				font-style: italic;
				font-weight: 400;
				font-size: 15px;
				line-height: 20px;
				color: #000000;
				text-decoration: none;
				margin-top: 30px;
				&:hover .projects-geolocation-icon {
					fill: #7e5aff;
				}
			}

			.projects-geolocation-icon {
				width: 20px;
				height: 20px;
				fill: #2c4058;
				margin-right: 10px;
			}

			h1,
			h2 {
				font-size: 44px;
				margin: 0;
				text-transform: uppercase;
				line-height: 54px;
			}

			h2 {
				font-size: 22px;
				line-height: 27px;
				font-weight: lighter;
			}

			p {
				font-family: "Open Sans", sans-serif;
				font-size: 18px;
				line-height: 30px;
				margin: 0;
			}
		}
	}
	.projects-two {
		display: flex;
		flex-direction: row-reverse;
		&-img {
			flex-direction: row-reverse;
			img {
				left: 0;
			}
		}
		&-title {
			margin-left: 0 !important;
			margin-right: 60px;
		}
	}
}
// NEWS
.news {
	display: flex;
	align-items: center;
	width: 100%;
	height: 978px;
	background: url("/assets/image/bg-news.png") no-repeat,
		linear-gradient(237.1deg, #24ccfa 11.16%, #3c7fd4 89.18%);
	background-size: cover;
	margin-bottom: 150px;
	z-index: -1;
	.line {
		border-color: #fff;
	}
	.news-title {
		display: flex;
		font-family: "Montserrat", sans-serif;
		font-weight: 700;
		font-size: 44px;
		color: #fff;
		justify-content: center;
		margin: 30px 0 90px 0;
	}
	.swiper-wrapper {
		width: 1170px;
		padding-bottom: 70px;
	}
	.swiper-slide {
		background: #fff;
		font-family: "Montserrat", sans-serif;
		font-weight: 400;
		img {
			width: 370px;
			width: 100%;
			height: 240px;
		}
		&-item {
			color: #2c4058;
			margin: 0 20px;
			h1 {
				font-weight: 700;
				font-size: 22px;
				line-height: 27px;
			}
			p {
				font-family: "Open Sans", sans-serif;
				font-size: 18px;
				line-height: 25px;
			}
		}
		&-author {
			display: flex;
			align-items: center;
			margin-bottom: 30px;
			&-name {
				font-size: 18px;
				line-height: 22px;
				color: #2c4058;
				margin: 0;
			}
			&-data {
				font-size: 14px;
				line-height: 17px;
				color: #55b7ff;
				margin: 0;
			}
		}
		.icon-author {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			margin: 0;
			margin-right: 20px;
		}
	}
	.wrapper-button {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		.swiper-button-prev {
			position: relative;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			border: 1px solid #fff;
			margin-right: 50px;
			margin-top: 120px;
			opacity: 0.5;
			&::after {
				font-size: 10px;
				color: #fff;
			}
		}
		.swiper-button-next {
			position: relative;
			margin-left: 50px;
			margin-top: 120px;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			border: 1px solid #fff;
			opacity: 0.5;
			&::after {
				font-size: 10px;
				color: #fff;
			}
		}
	}
	.swiper-pagination-bullet {
		width: 9px;
		height: 9px;
		background-color: transparent;
		border: 1px solid #fff;
		opacity: 1;
		margin: 0 40px 0 0 !important;
	}

	.swiper-pagination-bullet-active {
		background-color: #ffffff;
	}
}

// GALLERY
.gallery {
	display: flex;
	margin: 0 auto;
	width: 1170px;
	font-family: "Montserrat", sans-serif;
	flex-direction: column;
	align-items: center;
	margin-bottom: 150px;
	color: #2c4058;
	h1 {
		font-weight: 700;
		font-size: 44px;
		line-height: 54px;
	}
	&-wrapper {
		display: grid;
		grid-template-columns: repeat(4, 285px);
		grid-template-rows: repeat(2, 214px);
		gap: 10px;
		margin-bottom: 60px;
		.div1 {
			grid-area: 1/1/3/3;
		}
		.div2 {
			grid-area: 1/3/2/4;
		}
		.div3 {
			grid-area: 1/4/2/5;
		}
		.div4 {
			grid-area: 2/3/3/4;
		}
		.div5 {
			grid-area: 2/4/3/5;
		}
	}
}

// CONTACT
.contact {
	position: relative;
	.maps {
		width: 100%;
		height: 700px;
	}
	.form {
		display: flex;
		position: absolute;
		top: 90%;
		left: 50%;
		transform: translate(-50%, -50%);
		flex-direction: column;
		width: 650px;
		border: 1px #111 solid;
		margin: 0 auto;
		padding: 60px;
		background: url("/assets/image/city-form.png") no-repeat;
		background-position: bottom;
		background-color: #fff;
		z-index: 2;
		.form-contacts-icon {
			width: 20px;
			height: 20px;
			fill: #111;
			margin-right: 10px;
		}

		a:hover .form-contacts-icon {
			fill: #7e5aff;
		}

		a {
			color: #111;
			&:hover {
				color: #7e5aff;
			}
		}

		h1 {
			margin: 0 auto;
			margin-bottom: 42px;
		}
		&__contacts {
			display: flex;
			justify-content: space-between;
			&-firstbox {
				width: 44%;
				ul {
					padding: 0;
					margin: 0;
				}
				li {
					list-style-type: none;
					font-size: 18px;
					line-height: 50px;
				}
				a {
					text-decoration: none;
				}
			}
			&-twobox {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				width: 48%;
				.button-form {
					width: 140px;
					align-self: flex-end;
				}
				input {
					width: 100%;
					font-size: 18px;
					border: none;
					border-bottom: 1px #2c4058 solid;
					color: #4b5562;
					border-color: #2c4058;
					outline: none;
					&:invalid {
						border-color: red;
					}
				}
				input:placeholder-shown {
					border-color: #2c4058;
				}
			}
		}
	}
}

// FOOTER
.footer {
	display: flex;
	position: relative;
	width: 770px;
	justify-content: space-between;
	margin: 0 auto;
	margin-bottom: 15px;
	z-index: 1;
	font-family: "Montserrat", sans-serif;
	.logo {
		display: flex;
		flex-direction: column;
		a {
			margin-bottom: 41px;
			text-decoration: none;
			color: #fff;
			font-size: 14px;
			line-height: 17px;
		}
	}
}

.social {
	ul {
		display: flex;
		padding: 0;
		margin: 0;
	}
	ul li {
		display: flex;
		margin-left: 20px;
		text-decoration: none;
		transition: 0.3s ease-out;
	}
	li:hover {
		transform: scale(1.3);
		translate: 0em -0.5em;
	}
}

.icon {
	width: 40px;
	height: 40px;
	fill: #fff;
	border-radius: 50%;
	border: 1px solid rgb(255, 255, 255, 0.4);
}

.icon:hover {
	border: 1.5px solid #fff;
}

.button {
	position: relative;
	width: 190px;
	height: 50px;
	border: 1px solid #000000;
	cursor: pointer;
	transition: all 0.25 ease-in-out;
	z-index: 0;
	background: #fff;
	text-transform: uppercase;
	span {
		display: block;
		position: relative;
		z-index: 3;
	}
	&:hover span {
		color: #7e5aff;
		font-weight: 700;
		font-size: 16px;
		transition: color 0.3s ease-in-out;
	}
	&:hover::before {
		transform: translateY(-50%) scaleY(1);
	}
	&:hover::after {
		transform: translateX(-50%) scaleY(1);
	}
	&::before {
		display: block;
		position: absolute;
		content: "";
		top: 50%;
		left: -2px;
		width: calc(100% + 4px);
		height: 80%;
		background-color: #ffffff;
		transform: translateY(-50%) scaleY(0);
		transition: inherit;
		transition-delay: 0.25s;
		z-index: 0;
	}
	&::after {
		display: block;
		position: absolute;
		content: "";
		width: 95%;
		height: calc(100% + 4px);
		left: 50%;
		top: -2px;
		background-color: #ffffff;
		transform: translateX(-50%) scaleX(0);
		transition: inherit;
		z-index: 0;
	}
}

.line {
	width: 100px;
	border-top: 1px #111 solid;
	margin: 0 auto;
	margin-bottom: 30px;
}

.footer__background {
	display: flex;
	position: relative;
	align-items: center;
	height: 549px;
	background: url("/assets/image/scott-web.png") no-repeat center center,
		linear-gradient(251.06deg, #7e5aff -2.19%, #55b7ff 103.21%);
	background-size: cover;
}
