.main {
    width: 1440px;
    margin: 0 auto;
}

.header {
    max-width: 1170px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    max-width: 1170px;
    align-items: center;
    justify-content: space-around;
}

.header__container ul li a {
    text-decoration: none;
}

.header__container ul li a:hover {
    color: #18B5DC;
}

.header__container ul {
    display: flex;
    gap: 30px;
}

.header__container ul li {
    display: inline-flex;
    list-style: none;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    font-family: "Lato", sans-serif;
    color: #3C3C3C;
}

.header-button {
    width: 130px;
    height: 42px;
    font-size: 18px;
    line-height: 22px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #3C3C3C;
    background: #fff;
}

.header-button:hover {
    background: #18B5DC;
    color: #fff;
}

/**section**/
.section__container-title {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: #3C3C3C;
    margin-top: 150px;
}

.section__container-text {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #3C3C3C;
    margin-bottom: 50px;
}

.section__container-image {
    display: flex;
    max-width: 1170px;
    gap: 30px;
    margin: 0 auto;
}

.section__container-image-item {
    position: relative;
    width: 270px;
    height: 270px;
    background-size: contain;
}

.image-item-first {
    background-image: url("/assets/image/John\ Handson.png");
}

.image-item-second {
    background-image: url("/assets/image/Alex\ Cutter.png");
}

.image-item-third {
    background-image: url("/assets/image/Elena\ Simpson.png");
}

.image-item-fourth {
    background-image: url("/assets/image/Lily\ Allen.png");
}

.section__container-image-item:hover {
    background: #18B5DC;
    transition: 1s;
}

.section__container-image-title {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #282528;
    margin-bottom: 0;
}

.section__container-image-text {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #646464;
    margin: 0;
}

/**footer**/
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 190px;
}

.footer__container ul li {
    font-size: 18px;
}

.footer__container ul {
    padding: 0;
}

.footer__container-icons {
    display: flex;
    gap: 10px;
    fill: #18B5DC;
}

.footer__container-icons-icon {
    display: flex;
    width: 22px;
    height: 22px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid #18B5DC;
}

.footer__container-icons-icon {
    fill: #fff;
    background: #5DCBE6;
}

.footer__container-icons-icon:hover {
    background: #fff;
    fill: #18B5DC;
}

.section__container-image-nav {
    display: none;
}

.section__container-image-item:hover .section__container-image-nav {
    display: inline-flex;
    position: absolute;
    margin-right: 4px;

    top: 42%;
    left: 24%;
}