@import url(../fonts/fontface.css);

body {
	background: #c9c9c9;
}

.header {
	display: flex;
	width: 1440px;
	height: 80px;
	margin: 0 auto;
	padding-bottom: 70px;
}

.logo {
	font-family: "Tourney", sans-serif;
	font-size: 25px;
	line-height: 18px;
	font-weight: 600;
	letter-spacing: 0.04em;
}

.logo_nav {
	font-family: "Staatliches", sans-serif;
	line-height: 28px;
	font-weight: 400;
	font-size: 22px;
	letter-spacing: 0.03em;
}

.header div span:nth-child(2) {
	margin: 0 10px;
}

.header_container {
	display: flex;
	width: 1200px;
	height: 80px;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

.header_container_nav {
	margin-right: 550px;
}

.main {
	width: 1440px;
	height: 2375px;
	background: #fff;
	margin: 0 auto;
}

.main section {
	width: 1200px;
	font-family: "PTSans", sans-serif;
	font-size: 28px;
	font-weight: 400;
	margin: 0 auto;
	padding-bottom: 70px;
}

.mein_text_title {
	font-family: "FrancoisOne", sans-serif;
	font-size: 36px;
	font-weight: 400;
	line-height: 48px;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	margin: 0 auto;
	margin-bottom: 40px;
}

.mein_text_title_chapter {
	font-family: "Farro", sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 15px;
	letter-spacing: 0.04em;
	vertical-align: top;
	text-transform: none;
}

.underlined_text {
	text-decoration: underline;
}

.highlighted_text {
	background: #dadada;
}

.text_italics {
	font-style: italic;
}

.text_bold {
	font-weight: bold;
}
