@import url(/font/NotoSans/notosans.css);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgba(122, 92, 250, 0.2);
}

.main {
	background-color: #fff;
	max-width: 760px;
	margin: 0 auto;
	padding: 96px;
}

.label {
	color: rgba(102, 102, 102, 1);
	font-size: 12px;
	font-family: "Noto Sans", sans-serif;
	font-weight: 600;
	line-height: 18px;
}

.input {
	width: 100%;
	padding: 16px;
	font-size: 16px;
	line-height: 24px;
	border-radius: 8px;
	margin-top: 8px;
	border: 1px solid rgba(204, 204, 204, 1);
}

.input:focus {
	outline: 2px solid #7A5CFA;
	border: 1px solid transparent;
}

.input:invalid {
	outline: 2px solid #EB5757;
	border: 1 px solid transparent;
}

.form_item {
	margin-bottom: 32px;
}

.form_item-massage {
	font-size: 12px;
	color: rgba(102, 102, 102, 1);
	padding-top: 8px;
}

.form_item-error {
	display: none;
	color: #EB5757;
}

.input:invalid+.form_item-massage .form_item-hint {
	display: none;
}

.input:invalid+.form_item-massage .form_item-error {
	display: inline-block;
}

.checkbox-container {
	display: flex;
	font-family: "Noto Sans", sans-serif;
	color: #666666;
	font-weight: 400;
	font-size: 16px;
	cursor: pointer;
	flex-direction: row;
	align-items: center;
	user-select: none;
	gap: 16px;
}

.checkbox-container input {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
}

.checkbox {
	position: relative;
	height: 25px;
	width: 25px;
	border: 1px solid #CCCCCC;
	border-radius: 8px;
	background: #FFFFFF;
}

.checkmark::after {
	content: "";
	position: absolute;
	display: none;
	left: 8px;
	top: 4px;
	width: 5px;
	height: 10px;
	border: solid #7A5CFA;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}

.checkbox-container_input:checked+.checkbox .checkmark::after {
	display: block;
}