body {
    font-family: 'Montserrat', sans-serif;
    width: 1440px;
    height: 500px;
    margin: 0 auto;
    background-color: #F2F2F2;
}

/**Herder**/
.header {
    display: flex;
    background-color: #FFF;
    width: 1440px;
    height: 50px;
    padding: 15px 0 70px 0;
}

.wrapper {
    display: flex;
    width: 1200px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto
}

.wrapper__nav ul li {
    display: inline-flex;
    margin-right: 20px;
}

.wrapper__nav ul li a:hover {
    color: #FF9900;
}

.wrapper__nav li:nth-child(4) {
    margin: 0 auto;
}

.wrapper__nav a {
    text-decoration: none;
}

.wrapper__nav ul {
    padding-left: 0;
}

.wrapper__logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin: 0;
}

.wrapper__logo img {
    padding-right: 12px;
}

.button__action button {
    display: inline;
    justify-content: space-evenly;
    width: 110px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    background-color: #FFF;
    font-weight: 600;
}

.button__go {
    margin-right: 25px;
}

.button__action button:hover,
.first__screen-button:hover,
.features__button-button:hover,
.footer__button-button:hover {
    background-color: #FF9900;
    color: #FFF;
}

.features__button-button {
    width: 180px;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    background-color: #FFF;
    font-weight: 600;
    margin-top: 50px;
}

/**First Screen**/
.first__screen {
    display: inline-flex;
    width: 1440px;
    height: 600px;
    background-color: #FFF;
}

.first__screen-left_side {
    width: 550px;
    height: 450px;
    margin-left: 120px;
}

.first__screen-right_side {
    margin-right: 120px;
}

.first__screen-left_side-title {
    font-size: 44px;
    color: #2F281E;
    margin: 0 auto;
    margin-top: 100px;
}

.first__screen-left_side-text {
    font-size: 18px;
    color: #544837;
    margin: 0 auto;
    margin-top: 30px;
}

.first__screen-button {
    width: 180px;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    background-color: #FFF;
    font-weight: 600;
    margin-top: 20px;
}

/**Features**/
.features {
    display: block;
    width: 1440px;
    height: 510px;
    background: linear-gradient(179.61deg, rgba(255, 229, 210, 0.0001) 0.33%, rgba(255, 244, 229, 0.629261) 99.67%);
    background-color: #FFF;
}

.features__title {
    text-align: center;
    margin: 0;
}

.features__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.features__colom {
    display: inline;
    width: 270px;
    height: 175px;
}

.features__button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features__button-button {
    width: 180px;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    background-color: #FFF;
    font-weight: 600;
    margin-top: 50px;
}

/**Footer**/
.footer {
    display: flex;
    width: 1440px;
    background-color: #FFF;
    margin: 0 auto;
    border-top: 1px solid #bcd0e57f;
    justify-content: center;
}

.footer__container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    margin: 70px 0;
    gap: 100px;
}

.footer__container-box ul {
    list-style-type: none;
    padding: 0;
}

.footer__container-box li {
    margin: 15px 0;
}

.footer__container h2 {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
}

.footer__button-button {
    width: 180px;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    background-color: #FFF;
    font-weight: 600;
    margin-top: 75px;
}

.footer__container-box-label input {
    max-width: 300px;
    height: 50px;
    width: 100%;
    font-size: 16px;
    flex-direction: row;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    padding-left: 15px;
    margin-top: 25px;
}