@import url("../assets/fonts/facefonts.css");

body {
	background: #e5e5e5;
	width: 1440px;
	margin: 0 auto;
}

.wrapper {
	background: #fff;
}

.header {
	display: flex;
	width: 1170px;
	margin: 0 auto;
	padding: 25px 0;
	border-bottom: 1px solid #efeef3;
}

.header .container__item {
	display: flex;
	padding: 0;
	border: none;
}

.icon {
	display: inline-flex;
	width: 65px;
	height: 65px;
	align-items: center;
	justify-content: center;
	border-radius: 16px;
	border: 1px solid rgba(21, 101, 216, 0.1);
}

.icon__icon-item {
	display: inline-block;
	width: 26px;
	height: 26px;
}

.container__item .icon__icon-item {
	width: 36px;
	height: 36px;
}

.footer__nav {
	display: flex;
	width: 40px;
	height: 40px;
	align-items: center;
	justify-content: center;
	background: #fff;
}

.footer__nav:hover .icon__icon-item {
	fill: #3db370;
}

.container div:hover {
	border: 1px solid #3db370;
	fill: #3db370;
}

.container div:hover .icon {
	border: 1px solid #3db370;
	fill: #3db370;
	stroke: #3db370;
}

/**Section**/
.container {
	display: flex;
	max-width: 100%;
	width: 1170px;
	height: 340px;
	gap: 30px;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding: 100px 0;
}

.container-title-paragraph {
	display: flex;
	position: relative;
	top: 90px;
	left: 140px;
	font-family: "Nunito Sans", sans-serif;
	font-weight: 600;
	font-size: 40px;
	line-height: 52px;
	letter-spacing: 0.2px;
	color: #16133d;
}

.container-title {
	display: flex;
	position: relative;
	top: 80px;
	left: 140px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #7690a8;
}

.container__item {
	padding: 40px;
	border-radius: 8px;
	border: 1px solid #e5eae5;
}

h1 {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 21px;
}

p {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #16133d;
}

.container__item-text {
	margin-left: 10px;
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
	font-size: 35px;
	gap: 10px;
	color: #16133d;
}

a {
	color: #3db370;
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
}

/**Footer**/
.footer {
	display: flex;
	background-color: #16133d;
	gap: 10px;
	padding: 40px 135px 40px 135px;
}