body {
    font-family: 'Roboto', sans-serif;
}

.form {
    display: block;
    width: 793px;
    height: 507px;
    background-color: #3B3F45;
}

/* Heder*/
.header {
    width: 793px;
    height: 82px;
    background: #4A4F56;
    text-align: center;
    color: #FF8984;
}

.header h1 {
    padding-top: 12px;
    margin: 0;
}

.header p {
    padding-top: 4px;
    margin: 0;
}

/* Menu*/
.menu {
    margin-top: 20px;
}

.menu label {
    display: flex;
    width: 534px;
    height: 45px;
    line-height: 45px;
    margin-left: 129px;
    margin-top: 0px;
    padding-left: 12px;
    background: #88839E;
    color: #FFFFFF;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;

}

.menu label:hover {
    background: #625E77;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.menu label:nth-child(even) {
    background: #7A7593;
}

.menu label:active {
    display: flex;
    background: #FF8984;
}

input:checked+span {
    text-decoration: line-through;
    color: #9B96AC;
}

.menu input {
    width: 19px;
    align-items: center;
}

.menu input+span {
    display: flex;
    font-size: 18px;
    padding-left: 16px;
}

.text-menu-next {
    display: flex;
    padding-left: 3px;
    font-size: 11px;
    align-items: center;
}

/* Button*/
.submit-button {
    display: block;
    font-family: 'Roboto', sans-serif;
    width: 547px;
    height: 45px;
    font-size: 18px;
    margin-top: 45px;
    margin-left: 129px;
    color: #FF8984;
    background-color: #4A4F56;
    border: 0px;
}