@import url("assets/fonts/fonts.css");
.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.button {
  width: 210px;
  height: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  background: #fff;
  border-radius: 50px;
  border: 1px solid #9c69e2;
  transition: 0.2s;
  margin: 20px 0;
}

.header {
  display: flex;
  width: 1170px;
  justify-content: space-between;
  position: fixed;
  background-color: #fff;
  z-index: 2;
  margin-top: -8px;
}
.header__logo--nav {
  display: flex;
  width: 43%;
  align-items: center;
  justify-content: space-between;
}
.header__logo--nav .header__logo {
  display: contents;
}
.header__logo--nav .header__logo h3 {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #212353;
  margin: 0;
}
.header__logo--nav .header__logo-container {
  display: flex;
  align-items: end;
  gap: 10px;
}
.header__logo--nav .header__logo-container:hover {
  cursor: pointer;
}
.header__logo--nav .header__logo-container-circle {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #9c69e2;
}
.header__logo--nav .header__logo-container-ellipse {
  display: flex;
  width: 20px;
  height: 35px;
  border-radius: 20px;
  background: #f063b8;
}
.header__logo--nav .header__nav ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.header__logo--nav .header__nav li {
  list-style: none;
}
.header__logo--nav .header__nav a {
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #4b5d68;
  transition: 0.5s;
}
.header__logo--nav .header__nav a:hover {
  color: #8a40ee;
  cursor: pointer;
}
.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__button .arrow {
  background: url("/assets/icons/arrow.svg");
  width: 23px;
  height: 16px;
  margin-left: 20px;
  transition: 0.2s;
}
.header__button:hover {
  background: #9c69e2;
  color: #fff;
  cursor: pointer;
}
.header__button:hover .arrow {
  background: url("/assets/icons/arrow-white.svg");
}

.first-screen {
  position: relative;
  padding-top: 180px;
}
.first-screen__image {
  width: 66%;
  height: 61%;
  right: 0;
  bottom: 0;
  position: absolute;
  background-image: url("/assets/image/first-screen-img.png");
  z-index: -1;
}
.first-screen__section {
  width: 50%;
}
.first-screen__section h1 {
  font-family: "WorkSans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: #212353;
  margin: 0;
}
.first-screen__section p {
  width: 64%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #4b5d68;
  margin: 0;
  margin-top: 50px;
}
.first-screen__button {
  background: #9c69e2;
  color: #fff;
  margin: 50px 0 35px 0;
}
.first-screen__button:hover {
  background: #8a40ee;
  cursor: pointer;
}

.second-screen {
  display: flex;
  position: relative;
  padding: 70px;
  background: #fde8f5;
  border-radius: 50px;
  margin-top: 100px;
  justify-content: space-between;
}
.second-screen__container {
  align-items: last baseline;
  width: 48%;
}
.second-screen__container h2 {
  font-family: "WorkSans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #212353;
}
.second-screen__container p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #4b5d68;
  margin: 0;
}

.third-screen__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.third-screen__title h2 {
  font-family: "WorkSans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #212353;
  margin: 120px 0 50px 0;
}
.third-screen__title p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #4b5d68;
  margin: 0;
}
.third-screen__container {
  display: flex;
  justify-content: right;
  margin-top: 80px;
}
.third-screen__container-first {
  width: 50%;
}
.third-screen__container-second {
  width: 50%;
}
.third-screen__container-item {
  display: flex;
  position: relative;
  margin-bottom: 50px;
  justify-content: right;
}
.third-screen__container h3 {
  font-family: "WorkSans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  color: #212353;
  margin: 0;
  margin-left: 100px;
}
.third-screen__container p {
  width: 58%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #4b5d68;
  margin: 0;
  margin-left: 100px;
}
.third-screen__container a {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.005em;
  color: #212353;
  text-decoration: none;
  margin-left: 100px;
  transition: 0.2s;
}
.third-screen__container a:hover {
  color: #9c69e2;
}
.third-screen__container a .arrow {
  background: url("/assets/icons/arrow.svg") no-repeat;
  margin-left: 20px;
  width: 23px;
  height: 16px;
}
.third-screen .container-box {
  display: flex;
  width: 400px;
  height: 400px;
  z-index: 0;
  flex-direction: column;
  border-radius: 50px;
  justify-content: space-around;
}
.third-screen__first-box {
  background: #f0faf9;
  background-image: url("/assets/icons/search-data.svg");
  background-repeat: no-repeat;
  background-position: 80% 5%;
}
.third-screen__second-box {
  background: #fef0f8;
  background-image: url("/assets/icons/print-out.svg");
  background-repeat: no-repeat;
  background-position: 93% 7%;
}
.third-screen__third-box {
  background: #f6f0fd;
  background-image: url("/assets/icons/hours-access.svg");
  background-repeat: no-repeat;
  background-position: 85% 95%;
}
.third-screen__fourth-box {
  background: #eaf6fc;
  background-image: url("/assets/icons/security-code.svg");
  background-repeat: no-repeat;
  background-position: 55% 30%;
}
.third-screen__first-image {
  position: absolute;
  top: 100px;
  left: 15px;
  width: 230px;
  height: 180px;
  background-image: url("/assets/image/search-data.png");
  z-index: 1;
}
.third-screen__second-image {
  position: absolute;
  top: 100px;
  left: 15px;
  width: 245px;
  height: 180px;
  background-image: url("/assets/image/print-out.png");
  z-index: 1;
}
.third-screen__third-image {
  position: absolute;
  top: 100px;
  left: 15px;
  width: 240px;
  height: 180px;
  background-image: url("/assets/image/hours-access.png");
  z-index: 1;
}
.third-screen__fourth-image {
  position: absolute;
  top: 100px;
  left: 15px;
  width: 230px;
  height: 180px;
  background-image: url("/assets/image/security-code.png");
  z-index: 1;
}

.fourth-screen {
  position: relative;
  background: #ccddff;
  background-image: url("/assets/icons/bg-image.svg");
  background-repeat: no-repeat;
  background-position: 50% 90%;
  margin-top: 120px;
  border-radius: 50px;
}
.fourth-screen h2 {
  justify-content: center;
  font-family: "WorkSans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  color: #4b5d68;
  align-items: center;
  padding-top: 80px;
  margin: 0;
}
.fourth-screen__container {
  display: flex;
  justify-content: space-around;
  padding: 80px 0;
  font-family: "Montserrat", sans-serif;
}
.fourth-screen__container h2 {
  justify-content: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #212353;
  margin: 0;
  padding: 0;
}
.fourth-screen__container p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #4b5d68;
  margin: 0;
}
.fourth-screen__container a {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #9c69e2;
  margin-top: -20px;
}
.fourth-screen__container-first {
  display: flex;
  justify-content: space-between;
  width: 465px;
  height: 300px;
  background: #fff;
  border-radius: 50px;
  margin: 0;
  gap: 15px;
  border: 1px solid #9c69e2;
}
.fourth-screen__container-first-image {
  background-image: url("/assets/image/John-Fang.png");
  width: 90px;
  height: 90px;
  border-radius: 45px;
  margin: 50px 0 0 30px;
}
.fourth-screen__container-first-item {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-between;
  margin: 50px 0;
}
.fourth-screen__container-second {
  display: flex;
  justify-content: space-between;
  width: 465px;
  height: 300px;
  background: #fff;
  border-radius: 50px;
  gap: 15px;
  border: 1px solid #9c69e2;
}
.fourth-screen__container-second-image {
  background-image: url("/assets/image/Hanna-Wilson.png");
  width: 90px;
  height: 90px;
  border-radius: 45px;
  margin: 50px 0 0 30px;
}
.fourth-screen__container-second-item {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-between;
  margin: 50px 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
  margin-top: 120px;
}
.footer .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .heading h2 {
  font-family: "WorkSans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #212353;
  margin: 0;
}
.footer .heading p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #4b5d68;
  margin: 0;
  margin-top: 20px;
}
.footer .heading .footer-button-colors {
  background: #f063b8;
  color: #fff;
  border: 1px solid #f063b8;
  margin-right: 20px;
}
.footer .heading .footer-button-colors:hover {
  background: #eb4bab;
  border: 1px solid #eb4bab;
  cursor: pointer;
}
.footer .heading .footer-button-simple {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.footer .heading .footer-button-simple .arrow {
  background: url("/assets/icons/arrow.svg") no-repeat;
  margin-left: 20px;
  width: 23px;
  height: 16px;
  transition: 0.2s;
}
.footer .heading .footer-button-simple:hover {
  background: #9c69e2;
  color: #fff;
  cursor: pointer;
}
.footer .heading .footer-button-simple:hover .arrow {
  background: url("/assets/icons/arrow-white.svg") no-repeat;
}
.footer .navigacion {
  display: flex;
  justify-content: space-between;
}
.footer .contacts {
  width: 26%;
}
.footer .contacts__logo {
  display: inline-flex;
}
.footer .contacts__logo h3 {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #212353;
  margin: 0;
}
.footer .contacts__logo-container {
  display: flex;
  align-items: end;
  gap: 10px;
  margin-right: 20px;
}
.footer .contacts__logo-container:hover {
  cursor: pointer;
}
.footer .contacts__logo-container-circle {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #9c69e2;
  transition: 0.2s;
}
.footer .contacts__logo-container-ellipse {
  display: flex;
  width: 20px;
  height: 35px;
  border-radius: 20px;
  background: #f063b8;
  transition: 0.2s;
}
.footer .contacts .info {
  margin-top: 50px;
}
.footer .contacts .info h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.01em;
  color: #212353;
}
.footer .contacts .info a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.01em;
  color: #212353;
  text-decoration: none;
}
.footer .contacts .info a:hover {
  color: #8a40ee;
}
.footer .footer-nav {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 60%;
}
.footer .footer-nav h3 {
  display: flex;
  margin-top: 7px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #212353;
}
.footer .footer-nav ul {
  padding: 0;
  margin-top: 30px;
}
.footer .footer-nav li {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #4b5d68;
  margin-top: 10px;
  transition: 0.2s;
}
.footer .footer-nav li:hover {
  color: #8a40ee;
  cursor: pointer;
}
.footer .footer-nav .social {
  margin-top: 30px;
}
.footer .footer-nav .social-icon {
  width: 50px;
  height: 50px;
  fill: #fff;
  border-radius: 50%;
  background: #212353;
  opacity: 0.1;
  border: 1px solid transparent;
  transition: 0.2s;
}
.footer .footer-nav .social .facebook:hover {
  fill: #3b5998;
  background: #fff;
  border: 1px solid #3b5998;
  opacity: 1;
}
.footer .footer-nav .social .twitter:hover {
  fill: #00acee;
  background: #fff;
  border: 1px solid #00acee;
  opacity: 1;
}
.footer .footer-nav .social .instagram:hover {
  fill: #c13584;
  background: #fff;
  border: 1px solid #c13584;
  opacity: 1;
}
.footer .footer-nav .social ul {
  display: inline-flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}
.footer .copyright {
  width: 25%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #212353;
  margin-bottom: 120px;
}/*# sourceMappingURL=style.css.map */